<div class="osq-block-border uk-block">
    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-3-4">
                <div class="uk-grid" data-uk-grid-match="{target:'.uk-panel'}" data-uk-grid-margin>
                    <div class="uk-width-small-1-4">
                        <div class="uk-panel">
                            <img src="http://i379.photobucket.com/albums/oo237/osquars/osquars_github/bloodmooninn_zpsghe4szly.png" alt="Blood Moon Inn" />
                        </div>
                    </div>
                    <div class="uk-width-small-3-4">
                        <div class="uk-panel uk-panel-box uk-panel-box-primary">
                            <h1 class="uk-article-title uk-text-danger">Blood Moon Inn</h1>
                            <p class="uk-article-lead">Community Discord server for games like:</p>
                            <ul class="uk-list uk-article-lead">
                                <li><i class="uk-icon-gamepad"></i> Warhammer: End Time - Vermintide</li>
                                <li><i class="uk-icon-gamepad"></i> Tom Clancy’s The Division</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-match="{target:'.uk-panel'}" data-uk-grid-margin>
                    <div class="uk-width-1-1">
                        <div class="uk-panel uk-panel-box">
                            <p>Discord is a free voice and text chat app designed specifically for gaming. It's free, easy to use, and with you even while you are AFK.</p>
                            <p>This server is for you who is looking for people to chat/talk with while playing Warhammer: End Time - Vermintide and Tom Clancy’s The Division or any other games! It's completely free to use! When the channels gets filled up we simply just add in more channels We have Streaming/youtube channels, you can apply for that.</p>
                            <ul class="uk-list">
                                <li><i class="uk-icon-certificate"></i> Unlimited slots (There is no limit on how many people can join this server)</li>
                                <li><i class="uk-icon-certificate"></i> Voice Channels (People talk with their microphone)</li>
                                <li><i class="uk-icon-certificate"></i> Streaming Channels ( For streamers who wants a private party)</li>
                                <li><i class="uk-icon-certificate"></i> Text channels ( People chat with eachother)</li>
                                <li><i class="uk-icon-certificate"></i> Matchmaking Channel (If you're looking for someone to play with).</li>
                            </ul>
                            <p class="uk-text-large">Join here: <a href="https://discord.gg/0ZPZTcCUTVhJHq0k" target="_blank"><img src="http://i379.photobucket.com/albums/oo237/osquars/osquars_github/Discord-Logo-Wordmark-Color-1b_zpskn32dfzp.png"></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="uk-width-medium-1-4">
                <div class="uk-panel">
                    <iframe src="https://discordapp.com/widget?id=102253887838253056&theme=dark" width="auto" height="525" allowtransparency="true" frameborder="0" class="uk-responsive-width uk-align-center"></iframe>
                </div>
            </aside>
        </div>

    </div>
</div>
<div class="osq-block-footer uk-block uk-block-secondary uk-block-large">
    <div class="uk-width-medium-1-2 uk-container uk-container-center uk-text-center uk-contrast">
        <p>&nbsp;</p>
    </div>
</div>