<!-- Top Block -->
<div class="osq-block-border uk-block uk-block-primary">
    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-match="{target:'.uk-panel'}" data-uk-grid-margin>
            <div class="uk-width-medium-2-3">
                <div class="uk-panel uk-panel-box uk-text-center">
                    <div class="uk-panel-teaser uk-cover-background uk-position-relative" style="background-image: url('http://i379.photobucket.com/albums/oo237/osquars/division/TCTD_E314_screenshot_covergameplay_1920x1080_zpsq1yziq6p.jpg');">
                        <img class="uk-invisible" style="min-height: 200px;" src="http://i379.photobucket.com/albums/oo237/osquars/division/TCTD_E314_screenshot_covergameplay_1920x1080_zpsq1yziq6p.jpg">
                        <div class="uk-position-bottom uk-margin-left uk-margin-right uk-contrast">
                            <h1 class="uk-article-title ">Tom Clancy’s The Division</h1>
                            <p class="uk-article-lead uk-contrast uk-hidden-small">We live in a complex world. The more advanced it gets, the more vulnerable it becomes. We’ve created a house of cards: remove just one, and everything falls apart.</p>
                        </div>
                    </div>
                    <p>Black Friday – a devastating pandemic sweeps through New York City, and one by one, basic services fail. In only days, without food or water, society collapses into chaos. The Division, an autonomous unit of tactical agents, is activated.</p>
                </div>
            </div>
            <div class="uk-width-medium-1-3">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary">
                    <div class="corner-ribbon">
                        <div class="ribbon"></div>
                        <div class="ribbon-text"><p><i class="uk-icon-cogs"></i> Features</p></div>
                    </div>
                    <ul class="uk-list uk-list-line uk-list-space uk-text-warning">
                        <li class="uk-margin"><i class="uk-icon-square"></i> Take back New York</li>
                        <li class="uk-margin"><i class="uk-icon-square"></i> A living, breathing world</li>
                        <li class="uk-margin"><i class="uk-icon-square"></i> Urban Jungle</li>
                        <li class="uk-margin"><i class="uk-icon-square"></i> Gear up and Customize your agent</li>
                        <li class="uk-margin"><i class="uk-icon-square"></i> Cutting-edge tech</li>
                        <li class="uk-margin"><i class="uk-icon-square"></i> Seamless Multiplayer: The Dark Zone</li>
                        <li class="uk-margin-large"><i class="uk-icon-square"></i> Snowdrop™ Engine</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content -->
<div class="osq-block-border uk-block uk-block-default uk-hidden">
    <div class="uk-flex uk-flex-center uk-margin-right uk-margin-left">
        <div class="uk-grid uk-grid-match uk-width-1-1" data-uk-grid-match="{target: .osq-grid-match}" data-uk-grid-margin="">
            <div class="uk-width-large-1-3">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary osq-grid-match">
                    <div class="uk-panel-teaser"><img src="http://i379.photobucket.com/albums/oo237/osquars/division/TheDivision_Facebook_CommunityCover3_1702x630_zpsmntnugzf.jpg"></div>
                    <h3 class="uk-panel-title"><i class="uk-icon-book"></i> Tutorials and Explanations</h3>
                    <p>I have under my time as beta tester for the Vermintide created this texts to help players understand the game and make it easier to get into the game.</p>
                </div>
            </div>
            <div class="uk-width-large-2-3">
                <div class="uk-container uk-padding-remove uk-position-relative osq-grid-match">
                    <div data-uk-grid="{gutter: 20}" class="uk-grid-width-medium-1-2 uk-grid-width-large-1-3">
                        <!-- Main -->
                        <div>
                            <div class="uk-panel uk-panel-box">
                                <div class="uk-panel-badge uk-badge uk-badge-danger"><a class="uk-text-contrast" href="redmooninn/">Read more</a></div>
                                <h2 class="uk-panel-title">Red Moon Inn</h2>
                                <p>The Red Moon Inn. The home for you and your party.<br>An Innkeeper that have nothing else to do then telling you that you should join the "party" instead of hiding in your room.<br>You can take a beer, have a chat or just trash the place.</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-panel uk-panel-box">
                                <div class="uk-panel-badge uk-badge uk-badge-danger"><a class="uk-text-contrast" href="characteritemsandstats/">Read more</a></div>
                                <h2 class="uk-panel-title">Character Items and Stats</h2>
                                <p>Character Items is the items we get from loot roll and can be used on your characters to fight the skaven or in the Forge (Red Moon Inn thread) to make better one.</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-panel uk-panel-box">
                                <div class="uk-panel-badge uk-badge uk-badge-danger"><a class="uk-text-contrast" href="weaponstats/">Read more</a></div>
                                <h2 class="uk-panel-title">Weapon Stats</h2>
                                <p>We all want to kill skaven but we want to do it in our way to satisfy our self. To understand what weapon is best for you I have here something of a list for you to look on and see what can be a good weapon for you to use on your favorite character..</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-panel uk-panel-box">
                                <h2 class="uk-panel-title">Weapon and Trinkets Traits</h2>
                                <p>We all want to kill skaven but we want to do it in our way to satisfy our self. To understand what weapon is best for you I have here something of a list for you to look on and see what can be a good weapon for you to use on your favorite character..</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-panel uk-panel-box">
                                <h2 class="uk-panel-title">Mission Items</h2>
                                <p>We all want to kill skaven but we want to do it in our way to satisfy our self. To understand what weapon is best for you I have here something of a list for you to look on and see what can be a good weapon for you to use on your favorite character..</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-panel uk-panel-box">
                                <h2 class="uk-panel-title">Loot and Loot Roll</h2>
                                <p>We all want to kill skaven but we want to do it in our way to satisfy our self. To understand what weapon is best for you I have here something of a list for you to look on and see what can be a good weapon for you to use on your favorite character..</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-panel uk-panel-box">
                                <h2 class="uk-panel-title">Skaven - The Enemy</h2>
                                <p>We all want to kill skaven but we want to do it in our way to satisfy our self. To understand what weapon is best for you I have here something of a list for you to look on and see what can be a good weapon for you to use on your favorite character..</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content -->
<div class="osq-block-footer uk-block uk-block-secondary uk-block-large">
    <div class="uk-width-medium-1-2 uk-container uk-container-center uk-text-center uk-contrast">
        <p>2015 Ubisoft Entertainment. All Rights Reserved. Tom Clancy’s, The Division logo, the Soldier Icon, Ubisoft, and the Ubisoft logo are trademarks of Ubisoft Entertainment in the US and/or other countries.</p>
    </div>
</div>