<!-- Top Block -->
<div class="osq-block-border uk-block uk-block-primary" data-uk-scrollspy="{cls:'uk-animation-fade', delay:200}">
    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-match="{target:'.uk-panel'}" data-uk-grid-margin>
            <div class="uk-width-medium-2-3">
                <div class="uk-panel uk-panel-box uk-text-center" data-uk-scrollspy="{cls:'uk-animation-slide-left', delay:200}">
                    <div class="uk-panel-teaser uk-cover-background uk-position-relative" style="background-image: url('http://i379.photobucket.com/albums/oo237/osquars/division/TCTD_E314_screenshot_covergameplay_1920x1080_zpsq1yziq6p.jpg');">
                        <img class="uk-invisible" style="min-height: 200px;" src="http://i379.photobucket.com/albums/oo237/osquars/division/TCTD_E314_screenshot_covergameplay_1920x1080_zpsq1yziq6p.jpg">
                        <div class="uk-position-bottom uk-margin-left uk-margin-right uk-contrast">
                            <h1 class="uk-article-title ">Tom Clancy’s The Division</h1>
                            <p class="uk-article-lead uk-contrast uk-hidden-small">We live in a complex world. The more advanced it gets, the more vulnerable it becomes. We’ve created a house of cards: remove just one, and everything falls apart.</p>
                        </div>
                    </div>
                    <p>Black Friday – a devastating pandemic sweeps through New York City, and one by one, basic services fail. In only days, without food or water, society collapses into chaos. The Division, an autonomous unit of tactical agents, is activated.</p>
                </div>
            </div>
            <div class="uk-width-medium-1-3">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary" data-uk-scrollspy="{cls:'uk-animation-slide-right', delay:200}">
                    <div class="corner-ribbon">
                        <div class="ribbon"></div>
                        <div class="ribbon-text"><p><i class="uk-icon-cogs"></i> Features</p></div>
                    </div>
                    <ul class="uk-list uk-list-line uk-list-space uk-text-warning">
                        <li class="uk-margin"><i class="uk-icon-square"></i> Take back New York</li>
                        <li class="uk-margin"><i class="uk-icon-square"></i> A living, breathing world</li>
                        <li class="uk-margin"><i class="uk-icon-square"></i> Urban Jungle</li>
                        <li class="uk-margin"><i class="uk-icon-square"></i> Gear up and Customize your agent</li>
                        <li class="uk-margin"><i class="uk-icon-square"></i> Cutting-edge tech</li>
                        <li class="uk-margin"><i class="uk-icon-square"></i> Seamless Multiplayer: The Dark Zone</li>
                        <li class="uk-margin-large"><i class="uk-icon-square"></i> Snowdrop™ Engine</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content -->
<div class="osq-block-border uk-block uk-block-default" data-uk-scrollspy="{cls:'uk-animation-fade', delay:200}">
    <div class="uk-flex uk-flex-center uk-margin-right uk-margin-left">
        <div class="uk-grid uk-grid-match uk-width-1-1" data-uk-grid-match="{target: .osq-grid-match}" data-uk-grid-margin="">
            <div class="uk-width-large-2-5 uk-width-xlarge-1-3">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary osq-grid-match" data-uk-scrollspy="{cls:'uk-animation-slide-left', delay:200}">
                    <div class="uk-panel-teaser"><img src="http://i379.photobucket.com/albums/oo237/osquars/division/TheDivision_Facebook_CommunityCover3_1702x630_zpsmntnugzf.jpg"></div>
                    <h3 class="uk-panel-title"><i class="uk-icon-book"></i> Tutorials and Explanations</h3>
                    <p>I have under my time playing The Division created this texts to help players understand the game and make it easier to get into the game.</p>
                </div>
            </div>
            <div class="uk-width-large-3-5 uk-width-xlarge-2-3">
                <div class="uk-container uk-padding-remove uk-position-relative osq-grid-match">
                    <div data-uk-grid="{gutter: 20}" class="uk-grid-width-medium-1-2 uk-grid-width-large-1-3">
                        <!-- Main -->
                        <div>
                            <div class="uk-panel uk-panel-box">
                                <div class="uk-panel-badge uk-badge uk-badge-danger"><a class="uk-text-contrast" href="#/division/baseofoperation">Read more</a></div>
                                <h2 class="uk-panel-title">Base of Operation</h2>
                                <p>The Base of Operation is your home and the central place to restore the infrastructure of New York City.</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-panel uk-panel-box">
                                <div class="uk-panel-badge uk-badge uk-badge-danger uk-hidden"><a class="uk-text-contrast" href="#">Read more</a></div>
                                <h2 class="uk-panel-title">The Agents</h2>
                                <p>As an agent of The Division you don’t only have to fight the consequences of the man-made virus, but also bring the increased threat, posed by those who have brought it into circulation, under control.</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-panel uk-panel-box">
                                <div class="uk-panel-badge uk-badge uk-badge-danger"><a class="uk-text-contrast" href="#/division/abilities">Read more</a></div>
                                <h2 class="uk-panel-title">Abilities</h2>
                                <p>The ability system in The Division compensates for the nonexistent character classes and is divided into the three main sections skills, talents and perks.</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-panel uk-panel-box">
                                <div class="uk-panel-badge uk-badge uk-badge-danger uk-hidden"><a class="uk-text-contrast" href="#">Read more</a></div>
                                <h2 class="uk-panel-title">Items</h2>
                                <p>The item and loot system in Tom Clancy’s The Division is without question the most important gameplay component.</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-panel uk-panel-box">
                                <div class="uk-panel-badge uk-badge uk-badge-danger"><a class="uk-text-contrast" href="#/division/weapons">Read more</a></div>
                                <h2 class="uk-panel-title">Weapons</h2>
                                <p>The weapon arsenal in The Division covers from pistols to powerful calibers like the assault rifle and marksman rifle sector.</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-panel uk-panel-box">
                                <div class="uk-panel-badge uk-badge uk-badge-danger uk-hidden"><a class="uk-text-contrast" href="#">Read more</a></div>
                                <h2 class="uk-panel-title">Factions</h2>
                                <p>In The Division it exist several friendly and hostile factions, who are following certain activities and behavior patterns depending on the day time/weather.</p>
                            </div>
                        </div>
                        <div class="uk-hidden">
                            <div class="uk-panel uk-panel-box">
                                <div class="uk-panel-badge uk-badge uk-badge-danger uk-hidden"><a class="uk-text-contrast" href="#">Read more</a></div>
                                <h2 class="uk-panel-title">Zones</h2>
                                <p>Lorum ipsum</p>
                            </div>
                        </div>
                        <div class="uk-hidden">
                            <div class="uk-panel uk-panel-box">
                                <div class="uk-panel-badge uk-badge uk-badge-danger uk-hidden"><a class="uk-text-contrast" href="#">Read more</a></div>
                                <h2 class="uk-panel-title">More</h2>
                                <p>ECHO, Factions, Base of Operations, Operation Dark Winter, Directive 51</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content -->
<div class="osq-block-footer uk-block uk-block-secondary uk-block-large" ng-include='"templates/footer-division.html"' ng-cloak data-uk-scrollspy="{cls:'uk-animation-fade', delay:200}"></div>