<div class="osq-block-border uk-block">
    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-match data-uk-grid-margin>
            <div class="uk-width-large-3-4">
                <div class="uk-grid" data-uk-grid-match="{target:'.uk-panel'}" data-uk-grid-margin>
                    <div class="uk-width-small-1-2">
                        <!-- Content -->
                        <div class="uk-panel uk-panel-box uk-text-center">
                            <a class="osq-panel-teaser uk-panel-teaser" href="/" title=""><img src="http://i379.photobucket.com/albums/oo237/osquars/osquars_github/osquars_zpsc7nabqgo.png"></a>
                            <h1 class="uk-article-title uk-margin-bottom">Osquars Pages</h1>
                            <p>This pages that is created with help from the Github and will be used for me to crate text and material for games and other fun stuff that might be used here. And for me to test around with git.</p>
                        </div>
                        <!-- Content -->
                    </div>
                    <div class="uk-width-small-1-2">
                        <div class="uk-panel uk-panel-box">
                            <a class="osq-panel-teaser uk-panel-teaser" href="#/bloodmooninn" title="Blood Moon Inn"><img src="http://placehold.it/434x150"></a>
                            <h1 class="uk-article-title uk-margin-bottom"><a href="#/bloodmooninn" title="Blood Moon Inn">Blood Moon Inn</a></h1>
                            <p>laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p class="uk-margin-small-top">
                                <a href="#/bloodmooninn" title="Read more">Read more</a>
                            </p>
                            <hr class="uk-margin-top uk-margin-bottom">
                            <div class="uk-article-meta"><span><time datetime="2014-04-02">02 April 2014</time></span></div>
                        </div>
                    </div>
                    <div class="uk-width-small-1-2">
                        <div class="uk-panel uk-panel-box">
                            <a class="osq-panel-teaser uk-panel-teaser" href="#/vermintide" title="Warhammer: The End Times - Vermintide"><img src="http://i379.photobucket.com/albums/oo237/osquars/osquars_github/vermintide_zpsm2ozcbum.png"></a>
                            <h1 class="uk-article-title uk-margin-bottom"><a href="#/vermintide" title="Warhammer: The End Times - Vermintide">Warhammer: The End Times - Vermintide</a></h1>
                            <p>Vermintide is a co-operative action first person shooter and melee combat adventure set in the End Times of the iconic Warhammer Fantasy world.</p>
                            <p class="uk-margin-small-top">
                                <a href="#/vermintide" title="Read more">Read more</a>
                            </p>
                            <hr class="uk-margin-top uk-margin-bottom">
                            <div class="uk-article-meta"><span>Release Date: <time datetime="2014-10-23">23 Oct, 2015</time></span></div>
                        </div>
                    </div>
                    <div class="uk-width-small-1-2">
                        <div class="uk-panel uk-panel-box">
                            <a class="osq-panel-teaser uk-panel-teaser" href="#/division" title="Tom Clancy’s The Division"><img src="http://i379.photobucket.com/albums/oo237/osquars/osquars_github/division_434x150_zpsrgmwujaa.png"></a>
                            <h1 class="uk-article-title uk-margin-bottom"><a href="#/division" title="Tom Clancy’s The Division">Tom Clancy’s The Division</a></h1>
                            <p>Immerse yourself in a frighteningly chaotic and devastated New York City, where all has failed. As a Division Agent, your mission is to restore order, team up and take back New York.</p>
                            <p class="uk-margin-small-top">
                                <a href="#/division" title="Read more">Read more</a>
                            </p>
                            <hr class="uk-margin-top uk-margin-bottom">
                            <div class="uk-article-meta"><span>Release Date: <time datetime="2016-03-08">08 Mar, 2016</time></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="uk-width-large-1-4">
                <div class="uk-panel uk-panel-box">
                    <a class="twitter-timeline" href="https://twitter.com/osquars" data-widget-id="673206950566477824">Tweets by @osquars</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </aside>
        </div>
    </div>
</div>
<div class="osq-block-footer uk-block uk-block-secondary uk-block-large">
    <div class="uk-width-medium-1-2 uk-container-center uk-text-center uk-contrast">
        <p>&nbsp;</p>
    </div>
</div>