<!-- Top Block -->
<div class="osq-block-border uk-block uk-block-primary" ng-controller="patchCtrl">
    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-match="{target:'.uk-panel'}" data-uk-grid-margin>
            <div class="uk-width-medium-2-3">
                <div class="uk-panel uk-panel-box uk-text-center">
                    <div class="uk-panel-teaser uk-cover-background uk-position-relative" style="background-image: url('http://i379.photobucket.com/albums/oo237/osquars/osquars_github/Wallpaper_1920x1080_Heroes_zpsljzxdncz.png');">
                        <img class="uk-invisible" style="min-height: 200px;" src="http://i379.photobucket.com/albums/oo237/osquars/osquars_github/Wallpaper_1920x1080_Heroes_zpsljzxdncz.png">
                        <div class="uk-position-bottom uk-margin-left uk-margin-right uk-contrast">
                            <h1 class="uk-article-title ">Warhammer: The End Times - Vermintide</h1>
                            <p class="uk-article-lead uk-contrast uk-hidden-small">Vermintide is a co-operative action first person shooter and melee combat adventure set in the End Times of the iconic Warhammer Fantasy world.</p>
                        </div>
                    </div>
                    <p>Vermintide takes place in and around Ubersreik, a city overrun by Skaven. You will assume the role of one of five heroes, each featuring different play-styles, abilities, gear and personality. Working cooperatively, you must use their individual attributes to survive an apocalyptic invasion from the hordes of relentless rat-men, known as the Skaven. Battles will take place across a range of environments stretching from the top of the Magnus Tower to the bowels of the Under Empire.</p>
                </div>
            </div>
            <div class="uk-width-medium-1-3">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary">
                    <div class="corner-ribbon">
                        <div class="ribbon"></div>
                        <div class="ribbon-text"><p><i class="uk-icon-cogs"></i> Features</p></div>
                    </div>
                    <ul class="uk-list uk-list-line uk-list-space uk-text-warning">
                        <li class="uk-margin"><i class="uk-icon-certificate"></i> Cooperative Survival For up to 4 Players</li>
                        <li class="uk-margin"><i class="uk-icon-certificate"></i> Play as Five Unique Heroes</li>
                        <li class="uk-margin"><i class="uk-icon-certificate"></i> Huge Hero Arsenal</li>
                        <li class="uk-margin"><i class="uk-icon-certificate"></i> Embark on an Epic Quest</li>
                        <li class="uk-margin"><i class="uk-icon-certificate"></i> Experience the Skaven Like Never Before</li>
                        <li class="uk-margin"><i class="uk-icon-certificate"></i> Gather Mountains of Shiny Loot</li>
                        <li class="uk-margin"><i class="uk-icon-certificate"></i> Battle Unpredictable Enemies</li>
                        <li class="uk-margin"><i class="uk-icon-certificate"></i> Experience an Immersive Story</li>
                        <li class="uk-margin-large"><i class="uk-icon-certificate"></i> Find a Path to Safety</li>
                    </ul>
                    <img src="http://vermintide.com/wp-content/uploads/2015/03/Pagebreaker-2.png" alt="Divider-2" width="450" height="69" class="uk-align-center">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content -->
<div class="osq-block-border uk-block uk-block-default">
    <div class="uk-flex uk-flex-center uk-margin-large-right uk-margin-large-left">
        <div class="uk-grid uk-grid-match uk-width-1-1" data-uk-grid-match="{target: .osq-grid-match}" data-uk-grid-margin="">
            <div class="uk-width-large-1-3">
                <div class="uk-panel uk-panel-box uk-panel-box-secondary osq-grid-match">
                    <div class="uk-panel-teaser"><img style="min-height: 200px;" src="http://www.vermintide.com/wp-content/uploads/2015/10/Ubersreik_View.png"></div>
                    <h3 class="uk-panel-title"><i class="uk-icon-book"></i> Tutorials and Explanations</h3>
                    <p>I have under my time as beta tester for the Vermintide created this texts to help players understand the game and make it easier to get into the game.</p>
                    <img src="http://vermintide.com/wp-content/uploads/2015/03/Pagebreaker-2.png" alt="Divider-2" width="450" height="69" class="uk-align-center">
                </div>
            </div>
            <div class="uk-width-large-2-3">
                <div class="uk-container uk-padding-remove uk-position-relative osq-grid-match">
                    <div data-uk-grid="{gutter: 20}" class="uk-grid-width-medium-1-2 uk-grid-width-large-1-3">
                        <!-- Main -->
                        <div>
                            <div class="uk-panel uk-panel-box">
                                <div class="uk-panel-badge uk-badge uk-badge-danger"><a class="uk-text-contrast" href="redmooninn/">Read more</a></div>
                                <h2 class="uk-panel-title">Red Moon Inn</h2>
                                <p>The Red Moon Inn. The home for you and your party.<br>An Innkeeper that have nothing else to do then telling you that you should join the "party" instead of hiding in your room.<br>You can take a beer, have a chat or just trash the place.</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-panel uk-panel-box">
                                <div class="uk-panel-badge uk-badge uk-badge-danger"><a class="uk-text-contrast" href="characteritemsandstats/">Read more</a></div>
                                <h2 class="uk-panel-title">Character Items and Stats</h2>
                                <p>Character Items is the items we get from loot roll and can be used on your characters to fight the skaven or in the Forge (Red Moon Inn thread) to make better one.</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-panel uk-panel-box">
                                <div class="uk-panel-badge uk-badge uk-badge-danger"><a class="uk-text-contrast" href="weaponstats/">Read more</a></div>
                                <h2 class="uk-panel-title">Weapon Stats</h2>
                                <p>We all want to kill skaven but we want to do it in our way to satisfy our self. To understand what weapon is best for you I have here something of a list for you to look on and see what can be a good weapon for you to use on your favorite character..</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-panel uk-panel-box">
                                <h2 class="uk-panel-title">Weapon and Trinkets Traits</h2>
                                <p>We all want to kill skaven but we want to do it in our way to satisfy our self. To understand what weapon is best for you I have here something of a list for you to look on and see what can be a good weapon for you to use on your favorite character..</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-panel uk-panel-box">
                                <h2 class="uk-panel-title">Mission Items</h2>
                                <p>We all want to kill skaven but we want to do it in our way to satisfy our self. To understand what weapon is best for you I have here something of a list for you to look on and see what can be a good weapon for you to use on your favorite character..</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-panel uk-panel-box">
                                <h2 class="uk-panel-title">Loot and Loot Roll</h2>
                                <p>We all want to kill skaven but we want to do it in our way to satisfy our self. To understand what weapon is best for you I have here something of a list for you to look on and see what can be a good weapon for you to use on your favorite character..</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-panel uk-panel-box">
                                <h2 class="uk-panel-title">Skaven - The Enemy</h2>
                                <p>We all want to kill skaven but we want to do it in our way to satisfy our self. To understand what weapon is best for you I have here something of a list for you to look on and see what can be a good weapon for you to use on your favorite character..</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content -->
<div class="osq-block-footer uk-block uk-block-secondary uk-block-large">
    <div class="uk-width-medium-1-2 uk-container-center uk-text-center uk-contrast">
        <p><a href="http://www.vermintide.com" target="_blank">Warhammer: The End Times - Vermintide</a> and the names of the characters, items, missions and otherwise mentioned herein are trademarks of <a href="http://www.fatsharkgames.com" target="_blank">Fatshark AB</a> under license to <a href="http://www.games-workshop.com/" target="_blank">Games Workshop</a>.</p>
    </div>
</div>