<!-- Content -->
<div class="osq-block-main uk-block uk-block-default" data-uk-scrollspy="{cls:'uk-animation-fade', delay:200}">
    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-match data-uk-grid-margin>
            <!-- Main -->
            <div class="uk-width-medium-3-4">
                <div class="uk-article">
                    <h1 class="uk-article-title">Link and Tips</h1>
                    <h2>Useful links for games and Discord sever</h2>
                    <h3 class="uk-text-success">Discord links</h3>
                    <ul class="uk-list">
                        <li><a href="https://support.discordapp.com/hc/en-us/articles/209791877-How-do-I-selectively-disable-notifications-for-specific-servers-" target="_blank">Selectively disable notifications for channels</a></li>
                        <li><a href="https://support.discordapp.com/hc/en-us/categories/200404368-Text-Chat" target="_blank">Text chat tips and help</a></li>
                        <li><a href="https://support.discordapp.com/hc/en-us/categories/200404367-Voice-Chat" target="_blank">Voice chat tips and help</a></li>
                    </ul>
                    <h3 class="uk-text-success">Vermintide links</h3>
                    <ul class="uk-list">
                        <li><a href="http://forums.fatsharkgames.com/categories/tutorials" target="_blank">Vermintide Tutorials</a></li>
                        <li><a href="http://helpdesk.fatshark.se/" target="_blank">Vermintide Helpdesk</a></li>
                        <li><a href="http://steamcommunity.com/groups/WarhammerEndTimesVermintide" target="_blank">Vermintide [Discord] Steam group</a></li>
                    </ul>
                </div>
            </div>
            <!-- Sidebar -->
            <aside class="uk-width-medium-1-4 uk-hidden-small">
                <div class="uk-panel uk-panel-box" data-uk-sticky="{top: 82}">
                    <ul class="uk-nav uk-nav-side uk-position-z-index">
                    <li class="uk-nav-header">Page Index</li>
                    <li><a href="#bloodmooninn/serverrules">Server Rules</a></li>
                    <li class="uk-active"><a href="#/bloodmooninn/linktips">Link and Tips</a></li>
                    <li><a href="#/">Page</a></li>
                    </ul>
                </div>
            </aside>
        </div>

    </div>
</div>
<!-- Content -->
<div class="osq-block-footer uk-block uk-block-secondary uk-block-large" ng-include='"templates/footer-bloodmooninn.html"' ng-cloak data-uk-scrollspy="{cls:'uk-animation-fade', delay:200}"></div>