<!-- Content -->
<div class="osq-block-main uk-block uk-block-default">
    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-match data-uk-grid-margin>
            <!-- Main -->
            <div class="uk-width-medium-3-4">
                <div class="uk-article">
                    <h1 class="uk-article-title">Server Rules</h1>
                    <h2>Guidelines:</h2>
                    <p><strong>Always Be Civil:</strong><br>Be civil. Don’t post anything that a reasonable person would consider offensive, rude or abusive.<br>Respect each other. Just treat everyone with respect, and you shall receive so back.<br>Disagreements and directed comments are allowed but remember to criticize ideas, not people. Personal attacks won't be tolerated. Instead, provide reasoned counter-arguments that improve the conversation.</p>
                    <p><strong>If You See a Problem, Report It</strong><br>When you see bad behavior, don’t reply. It encourages the bad behavior by acknowledging it, consumes your energy, and wastes everyone’s time. Just report it for a moderator to look into and take action if necessary.</p>
                    <h2>Rules:</h2>
                    <ul class="uk-list">
                        <li><strong><span class="uk-badge uk-badge-notification">1</span> No Spam / Advertising:</strong><br>
                            <div class="uk-margin-large-left uk-margin-bottom">Advertising other Discord servers, Twitch channels & YouTube channels/videos is not allowed and is considered as spam. You may post links if a moderator gives you permission to do so. #twitch_and_youtube can be used for advertising your youtube video or your ongoing livestream if you have the Twitch and/or the YouTube role (you can apply for that).
                            You may post game information or updates in form of links or videos.</div></li>
                        <li><strong><span class="uk-badge uk-badge-notification">2</span> Flaming:</strong><br>
                            <div class="uk-margin-large-left uk-margin-bottom">Any material which constitutes defamation, harassment, abuse or slander, towards staff or users, is strictly prohibited.</div></li>
                        <li><strong><span class="uk-badge uk-badge-notification">3</span> Offensive Content:</strong><br>
                            <div class="uk-margin-large-left uk-margin-bottom">Material that is sexually or otherwise obscene, racist, or otherwise overly discriminatory is not permitted on this server. Use common sense.</div></li>
                        <li><strong><span class="uk-badge uk-badge-notification">4</span> Illegal Content:</strong><br>
                            <div class="uk-margin-large-left uk-margin-bottom">Providing or asking for information on how to illegally obtain or provide software or music is forbidden.</div></li>
                        <li><strong><span class="uk-badge uk-badge-notification">5</span> Trolling / Disturbing:</strong><br>
                            <div class="uk-margin-large-left uk-margin-bottom">Trolling people using the text/voice rooms is not allowed, same goes for disturbing.</div></li>
                    </ul>
                </div>
            </div>
            <!-- Sidebar -->
            <aside class="uk-width-medium-1-4">
                <div class="uk-panel uk-panel-box" data-uk-sticky="{top: 82}">
                    <ul class="uk-nav uk-nav-side uk-position-z-index"">
                        <li class="uk-nav-header">Page Index</li>
                        <li class="uk-active"><a href="#bloodmooninn/serverrules">Server Rules</a></li>
                        <li><a href="#/">Page</a></li>
                        <li><a href="#/">Page</a></li>
                    </ul>
                </div>
            </aside>
        </div>

    </div>
</div>
<!-- Content -->
<div class="osq-block-footer uk-block uk-block-secondary uk-block-large" ng-include='"templates/footer-bloodmooninn.html"' ng-cloak></div>