<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="assets/css/uikit.css" />
    <link rel="stylesheet" href="assets/css/mycss.css" />

    <script src="assets/js/jquery-1.11.3.min.js"></script>
    <script src="assets/js/uikit.min.js"></script>
    <script src="assets/js/components/sticky.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-app="pageApp" ng-controller="hostCtrl">
<div class="headerbar" data-uk-sticky="" ng-controller="menuCtrl">
    <!-- Navigation -->
    <nav class="uk-navbar uk-navbar-attached">
        <div class="osq-brand uk-flex uk-flex-middle">
            <a class="uk-navbar-brand uk-navbar-nav-subtitle" href="{{ hostUrl }}"><span>O</span>squars<div style="margin-top: -15px; text-align: center; font-weight: 800;">Laboratory</div></a>
        </div>
        <div class="uk-flex uk-flex-center uk-hidden-small">
            <ul class="uk-navbar-nav">
                <li class="uk-parent" data-uk-dropdown="{pos:'bottom-center'}" ng-repeat="x in mainlinks">
                    <a href="{{ hostUrl }}{{ x.Url }}">{{ x.Title }}</a>
                    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom" ng-if="x.Sub">
                        <ul class="uk-nav uk-nav-navbar">
                            <li ng-repeat="x in sublinks">
                                <a href="{{ hostUrl }}{{ x.Url }}">{{ x.Title }}</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <a href="#" class="uk-navbar-toggle uk-navbar-flip uk-visible-small"></a>
    </nav>
    <!-- Navigation -->
</div>

<div class="osq-block-border uk-block">
    <div class="uk-container uk-container-center">
        <div class="uk-grid"  data-uk-grid-match data-uk-grid-margin>
            <div class="uk-width-large-3-4">
                <div class="uk-grid" data-uk-grid-match="{target:'.uk-panel'}" data-uk-grid-margin>
                    <div class="uk-width-small-1-2">
                        <article class="uk-article">
                            <!-- Content -->
                            <div class="uk-panel uk-panel-box uk-text-center">
                                <a class="osq-panel-teaser uk-panel-teaser" href="#" title=""><img src="http://i379.photobucket.com/albums/oo237/osquars/osquars_github/osquars_zpsc7nabqgo.png"></a>
                                <h1 class="uk-article-title uk-margin-bottom">Osquars Pages</h1>
                                <p>This pages that is created with help from the Github and will be used for me to crate text and material for games and other fun stuff that might be used here. And for me to test around with git.</p>
                            </div>
                            <!-- Content -->
                        </article>
                    </div>
                    <div class="uk-width-small-1-2">
                        <article class="uk-article">
                            <div class="uk-panel uk-panel-box">
                                <a class="osq-panel-teaser uk-panel-teaser" href="vermintide/" title=""><img src="http://i379.photobucket.com/albums/oo237/osquars/osquars_github/vermintide_zpsm2ozcbum.png"></a>
                                <h1 class="uk-article-title uk-margin-bottom"><a href="vermintide/" title="Warhammer: The End Times - Vermintide">Warhammer: The End Times - Vermintide</a></h1>
                                <p>Vermintide is a co-operative action first person shooter and melee combat adventure set in the End Times of the iconic Warhammer Fantasy world.</p>
                                <p class="uk-margin-small-top">
                                    <a href="vermintide/" title="Read more">Read more</a>
                                </p>
                                <hr class="uk-margin-top uk-margin-bottom">
                                <div class="uk-article-meta"><span>Release Date: <time datetime="2014-10-23">23 Oct, 2015</time></span></div>
                            </div>
                        </article>
                    </div>
                    <!--<div class="uk-width-small-1-2">
                        <article class="uk-article">
                            <div class="uk-panel uk-panel-box">
                                <a class="osq-panel-teaser uk-panel-teaser" href="#" title=""><img src="http://placehold.it/434x150"></a>
                                <h1 class="uk-article-title uk-margin-bottom"><a href="#" title="Joomla Templates">Header</a></h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <p class="uk-margin-small-top">
                                    <a href="#" title="Read more">Read more</a>
                                </p>
                                <hr class="uk-margin-top uk-margin-bottom">
                                <div class="uk-article-meta"><span><time datetime="2014-04-02">02 April 2014</time></span></div>
                            </div>
                        </article>
                    </div>-->
                    <!--<div class="uk-width-small-1-2">
                        <article class="uk-article">
                            <div class="uk-panel uk-panel-box">
                                <div class="osq-panel-teaser uk-panel-teaser uk-position-relative">
                                    <img class="uk-invisible" style="min-height: 50px;" src="http://i379.photobucket.com/albums/oo237/osquars/osquars_github/osquars_zpsc7nabqgo.png">
                                    <div class="uk-position-bottom uk-margin-left uk-margin-right uk-margin-medium-bottom">
                                        <p class="uk-text-center">
                                            <i class="uk-icon-cogs uk-icon-large uk-margin-right"></i> <i class="uk-icon-file-code-o uk-icon-large"></i> <i class="uk-icon-code-fork uk-icon-large uk-margin-left"></i>
                                        </p>
                                    </div>
                                </div>
                                <h1 class="uk-article-title uk-margin-bottom"><a href="#" title="Learning">Learning</a></h1>
                                <p>Here I have some stuff I have learned </p>
                                <p class="uk-margin-small-top">
                                    <a href="#" title="Read more">Read more</a>
                                </p>
                                <hr class="uk-margin-top uk-margin-bottom">
                                <div class="uk-article-meta"><span><time datetime="2014-04-02">02 April 2014</time></span></div>
                            </div>
                        </article>
                    </div>-->
                </div>
            </div>
            <aside class="uk-width-large-1-4">
                <div class="uk-panel uk-panel-box">
                    <a class="twitter-timeline" href="https://twitter.com/osquars" data-widget-id="673206950566477824">Tweets by @osquars</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </aside>
        </div>
    </div>
</div>
<div class="osq-block-footer uk-block uk-block-secondary uk-block-large">
    <div class="uk-width-medium-1-2 uk-container-center uk-text-center uk-contrast">
        <p>Footer stuff</p>
    </div>
</div>
<!-- Footer -->
<div class="osq-block-footer uk-block uk-block-default uk-block-large">
    <footer class="uk-width-medium-1-2 uk-container-center">
        <p>
            <a href="https://twitter.com/osquars" title="Osquars | Twitter" target="_blank" class="uk-button uk-text-primary uk-text-bold"><i class="uk-icon-twitter uk-icon-medium"></i> Twitter</a> <!-- <a href="https://discord.gg/0ZPZTcCUTVhJHq0k" target="_blank" class="uk-button"><img src="http://i379.photobucket.com/albums/oo237/osquars/osquars_github/Discord-Logo-Wordmark-Color-1b_zpskn32dfzp.png" width="95" /></a> -->
            <a class="uk-align-right" href="#" data-uk-smooth-scroll><i class="uk-icon-arrow-up uk-icon-button uk-icon-medium"></i></a></a>
        </p>

    </footer>
</div>
<script src="assets/js/pageApp.js"></script>
<script src="assets/js/hostCtrl.js"></script>
<script src="assets/js/menuCtrl.js"></script>
</body>
</html>