/* theme: Almost Flat */


//
// Typography
//

@global-color: #000000;
@global-muted-color: #818181;
@global-link-color: #B78252;
@global-link-hover-color: #616161;
@global-font-size: 14px;
@global-line-height: 20px;
@base-body-font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
@base-heading-font-family: "Trebuchet MS", Verdana, Arial, sans-serif;

//
// Buttons, Navs & Badges
//

@global-primary-background: #818181;
@global-success-background: #38943C;
@global-warning-background: #e8b53a;
@global-danger-background: #C5152C;

//
// Article
//

@article-meta-font-size: 14px;
@article-meta-line-height: 20px;
@article-meta-font-weight: 300;
@article-lead-font-size: 20px;
@article-lead-line-height: 26px;

//
// Base
//

@base-body-font-style: normal;
@base-strong-font-weight: 400;

//
// Block
//

@block-padding-vertical-large: 40px;
@block-large-padding-vertical-large: 70px;
@block-muted-background: #171618;
@block-primary-background: #dddddd;

//
// Button
//

@button-primary-hover-background: #a1a1a1;
@button-primary-active-background: #868686;

//
// Description
//

@description-list-line-color: #868686;

//
// Dropdown
//

@dropdown-color: #fff;
@dropdown-link-hover-color: #fff;
@dropdown-navbar-margin: 5px;
@dropdown-navbar-color: #fff;
@dropdown-background: #ffffff;
@dropdown-navbar-background: rgba(0, 0, 0, 0.85);
@dropdown-border: 0;

//
// Form
//

@form-legend-border: rgba(190, 190, 190, 0.28);

//
// Icon
//

@icon-font-path: "../../fonts";

//
// Nav
//

@nav-navbar-color: #fff;
@nav-navbar-divider-border: rgba(255, 255, 255, 0.1);
@nav-navbar-header-color: #fff;
@nav-navbar-nested-hover-color: #fff;
@nav-side-color: @global-color;
@nav-dropdown-color: #fff;
@nav-dropdown-header-color: #fff;
@nav-dropdown-divider-border: rgba(255, 255, 255, 0.1);
@nav-dropdown-nested-hover-color: #fff;
@nav-dropdown-hover-text-shadow: rgba(255,255,255,0.3);
@nav-offcanvas-color: #fff;
@nav-offcanvas-header-color: #fff;
@nav-offcanvas-nested-hover-color: #fff;
@nav-offcanvas-divider-border: rgba(255, 255, 255, 0.1);
@nav-search-color: @nav-navbar-color;

//
// Navbar
//

@navbar-nav-font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
@navbar-background: #171618;
@navbar-color: #fff;
@navbar-link-color: #fff;
@navbar-brand-color: #ddd;
@navbar-brand-hover-color: #818181;
@navbar-text-shadow: rgba(255,255,255,0.1);
@navbar-nav-hover-background: #818181;
@navbar-border: rgba(255, 255, 255, 0.06);
@navbar-nav-hover-border-top: rgba(0, 0, 0, 0.1);
@navbar-nav-hover-border: rgba(255, 255, 255, 0.1);
@navbar-nav-color: #fff;
@navbar-nav-active-background: #818181;
@navbar-toggle-color: #ddd;
@navbar-toggle-hover-color: #818181;
@navbar-nav-active-color: #fff;
@navbar-nav-hover-color: #fff;

//
// Offcanvas
//

@offcanvas-bar-background: #171618;
@offcanvas-panel-title-color: #fff;
@offcanvas-panel-color: #818181;
@offcanvas-panel-link-color: #fff;
@offcanvas-panel-link-hover-color: #818181;

//
// Panel
//

@panel-title-font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
@panel-title-font-size: 20px;
@panel-title-line-height: 24px;
@panel-title-font-weight: 400;
@panel-box-primary-link: #A0A0A0;
@panel-box-primary-link-hover-color: #fff;
@panel-box-primary-background: #dddddd;
@panel-box-primary-color: #000000;
@panel-box-primary-title-color: #2a2a2a;
@panel-box-secondary-background: #2a2a2a;
@panel-box-secondary-color: #ffffff;
@panel-box-secondary-title-color: #dddddd;

//
// Text
//

@text-large-font-size: 20px;
@text-large-line-height: 28px;