/* Menu changes */
.osq-brand {
    position: absolute;
    left: 0;
}
.uk-navbar-nav:first-child > li:first-child > a {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/*".osq-dropdown-overlay {
    background: rgba(0,0,0,0.3);
}*/

/* Blocks */
.osq-block{
    max-width: 980px;
    margin: 0 auto;
}

@media (min-width: 1220px) {
    .osq-block {
        max-width: 1200px;
    }
}

/* article panel*/
.osq-panel-teaser {
	display: inherit;
}