/* Body */
body{
    background: #272526;
}

/* Menu changes */
.osq-brand {
    position: absolute;
    left: 0;
}

.osq-brand > a > span {
    color: #900;
    text-shadow: -1px 0 1px rgba(255,255,255,0.5);
}

.osq-brand > a:hover > span {
    color: #600;
}

.uk-navbar-nav:first-child > li:first-child > a {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.uk-navbar.uk-navbar-attached {
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    height:40px;
}

.uk-dropdown-navbar:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 48%;
    border-width: 0 8px 10px 8px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.85);
}

/*".osq-dropdown-overlay {
    background: rgba(0,0,0,0.3);
}*/

/* Blocks */
.osq-block-main{
    max-width: 980px;
    margin: 0 auto;
}

.osq-block-border.uk-block-default{
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.osq-block-border.uk-block-primary{
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.osq-block-border.uk-block-secondary{
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

@media (min-width: 1220px) {
    .osq-block-main {
        max-width: 1200px;
    }
}

.osq-block-footer {
    border-top: 1px solid rgba(255,255,255,0.1);
}

/* article panel*/
.osq-panel-teaser {
	display: inherit;
}

.uk-scrollable-box {
    min-height: inherit;
}

.uk-block-primary .uk-panel-box {
    border: 1px solid #a1a1a1;
}


/* ----- Ribbon Container ---------------------------------------*/
.corner-ribbon {
    background : transparent;
    height: 150px;
    width: 150px;
    position: absolute;
    top: -10px;
    right: -10px;
    overflow   : hidden;

}

/* ----- Top Curl ---------------------------------------*/
.corner-ribbon:before {
    content               : "";
    display               : block;
    -webkit-border-radius : 10px 10px 0 0;
    border-radius         : 10px 10px 0 0;
    width: 50px;
    height: 10px;
    position: absolute;
    right: 62px;

    background: rgb(149,0,0); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzAwOGEzYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ1JSIgc3RvcC1jb2xvcj0iIzBmMzMwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left,  rgba(149,0,0,1) 1%, rgba(51,0,0,1) 45%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(51,0,0,1)), color-stop(45%,rgba(15,51,10,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(149,0,0,1) 1%,rgba(51,0,0,1) 45%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(149,0,0,1) 1%,rgba(51,0,0,1) 45%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(149,0,0,1) 1%,rgba(51,0,0,1) 45%); /* IE10+ */
    background: linear-gradient(to right,  rgba(149,0,0,1) 1%,rgba(51,0,0,1) 45%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#950000', endColorstr='#330000',GradientType=1 ); /* IE6-8 */

}

/* ----- Right Curl ---------------------------------------*/
.corner-ribbon:after {
    content               : "";
    display               : block;
    -webkit-border-radius : 0 10px 10px 0;
    border-radius         : 0 10px 10px 0;
    width: 10px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 62px;

    background: rgb(51,0,0); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1NSUiIHN0b3AtY29sb3I9IiMwZjMzMGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiMwMDhhM2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(51,0,0,1) 55%, rgba(149,0,0,1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(55%,rgba(51,0,0,1)), color-stop(99%,rgba(149,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(51,0,0,1) 55%,rgba(149,0,0,1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(51,0,0,1) 55%,rgba(149,0,0,1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(51,0,0,1) 55%,rgba(149,0,0,1) 99%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(51,0,0,1) 55%,rgba(149,0,0,1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#330000', endColorstr='#950000',GradientType=0 ); /* IE6-8 */

}

/* ----- Ribbon ---------------------------------------*/
.corner-ribbon > div.ribbon {
    width: 150px;
    height: 40px;
    position: relative;
    top: 18px;
    right: -37px;
    z-index            : 1;
    overflow           : hidden;
    transform          :rotate(45deg);
    -ms-transform      :rotate(45deg); /* IE 9 */
    -moz-transform     :rotate(45deg); /* Firefox */
    -webkit-transform  :rotate(45deg); /* Safari and Chrome */
    -o-transform       :rotate(45deg); /* Opera */
    box-shadow         : inset 0 0 0 3px rgb(114,0,0),inset 0 0 0 4px rgba(0,0,0,0.5),inset 0 0 0 5px rgba(255,255,255,0.4), 0 21px 5px -18px rgba(0,0,0,0.8);
    -webkit-box-shadow : inset 0 0 0 3px rgb(114,0,0),inset 0 0 0 4px rgba(0,0,0,0.5),inset 0 0 0 5px rgba(255,255,255,0.4), 0 21px 5px -18px rgba(0,0,0,0.8);

    background: rgb(114,0,0); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzIyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzAwOGEzYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDU2MWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(114,0,0,1) 0%, rgba(138,0,0,1) 51%, rgba(86,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(138,0,0,1)), color-stop(51%,rgba(86,0,0,1)), color-stop(100%,rgba(0,86,28,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(114,0,0,1) 0%,rgba(138,0,0,1) 51%,rgba(86,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(114,0,0,1) 0%,rgba(138,0,0,1) 51%,rgba(86,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(114,0,0,1) 0%,rgba(138,0,0,1) 51%,rgba(86,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(114,0,0,1) 0%,rgba(138,0,0,1) 51%,rgba(86,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#720000', endColorstr='#560000',GradientType=1 ); /* IE6-8 */

    /*background: linear-gradient(to right, rgba(114,0,0,1) 0%,rgba(138,0,0,1) 51%,rgba(86,0,0,1) 100%);*/

}

/* ----- Top Glare ---------------------------------------*/
.corner-ribbon > div.ribbon:before {
    content           : "";
    display           : block;
    height            : 72px;
    width             : 13px;
    position          : relative;
    top: -13px;
    left: 22px;
    transform         : rotate(45deg);
    -ms-transform     : rotate(45deg);
    -moz-transform    : rotate(45deg);
    -webkit-transform : rotate(45deg);
    -o-transform      : rotate(45deg);

    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 1%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-8 */

}

/* ----- Right Clear ---------------------------------------*/
.corner-ribbon > div.ribbon:after {
    content           : "";
    display           : block;
    height: 72px;
    width: 13px;
    position: relative;
    bottom: 90px;
    left: 112px;
    transform         : rotate(45deg);
    -ms-transform     : rotate(45deg);
    -moz-transform    : rotate(45deg);
    -webkit-transform : rotate(-45deg);
    -o-transform      : rotate(45deg);

    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 1%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-8 */

}

/* ------- Text --------------------------------------------*/
.corner-ribbon > div.ribbon-text {
    width: 150px;
    height: 40px;
    position: relative;
    top: -16px;
    right: -31px;
    z-index            : 1;
    overflow           : hidden;
    transform          :rotate(45deg);
    -ms-transform      :rotate(45deg); /* IE 9 */
    -moz-transform     :rotate(45deg); /* Firefox */
    -webkit-transform  :rotate(45deg); /* Safari and Chrome */
    -o-transform       :rotate(45deg); /* Opera */
}

.corner-ribbon > div.ribbon-text > p {
    text-align: center;
    color:#fff;
}