/* Menu changes */
.osq-brand {
    position: absolute;
    left: 0;
}
.uk-navbar-nav:first-child > li:first-child > a {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.uk-dropdown-navbar:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 48%;
    border-width: 0 8px 10px 8px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.85);
}

/*".osq-dropdown-overlay {
    background: rgba(0,0,0,0.3);
}*/

/* Blocks */
.osq-block{
    max-width: 980px;
    margin: 0 auto;
}

@media (min-width: 1220px) {
    .osq-block {
        max-width: 1200px;
    }
}

/* article panel*/
.osq-panel-teaser {
	display: inherit;
}