<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="../assets/css/uikit.css" />
    <link rel="stylesheet" href="../assets/css/mycss.css" />

    <script src="../assets/js/jquery-1.11.3.min.js"></script>
    <script src="../assets/js/uikit.min.js"></script>
    <script src="../assets/js/components/sticky.min.js"></script>
    <script src="../assets/js/components/grid.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-app="pageApp" ng-controller="hostCtrl">
<div class="headerbar" data-uk-sticky="" ng-controller="menuCtrl">
    <!-- Navigation -->
    <nav class="uk-navbar uk-navbar-attached">
        <div class="osq-brand uk-flex uk-flex-middle">
            <a class="uk-navbar-brand uk-navbar-nav-subtitle" href="{{ hostUrl }}"><span>O</span>squars<div style="margin-top: -15px; text-align: center; font-weight: 800;">Laboratory</div></a>
        </div>
        <div class="uk-flex uk-flex-center uk-hidden-small">
            <ul class="uk-navbar-nav">
                <li class="uk-parent" data-uk-dropdown="{pos:'bottom-center'}" ng-repeat="x in mainlinks">
                    <a href="{{ hostUrl }}{{ x.Url }}">{{ x.Title }}</a>
                    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom" ng-if="x.Sub">
                        <ul class="uk-nav uk-nav-navbar">
                            <li ng-repeat="x in sublinks">
                                <a href="{{ hostUrl }}{{ x.Url }}">{{ x.Title }}</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <a href="#" class="uk-navbar-toggle uk-navbar-flip uk-visible-small"></a>
    </nav>
    <!-- Navigation -->
</div>
<!-- Top Block -->
<div class="osq-block-border uk-block uk-block-primary" ng-controller="patchCtrl">
    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-match="{target:'.uk-panel'}" data-uk-grid-margin>
            <div class="uk-width-medium-2-3">
                <div class="uk-panel uk-panel-box uk-text-center">
                    <div class="uk-panel-teaser uk-cover-background uk-position-relative" style="background-image: url('http://i379.photobucket.com/albums/oo237/osquars/osquars_github/Wallpaper_1920x1080_Heroes_zpsljzxdncz.png');">
                        <img class="uk-invisible" style="min-height: 200px;" src="http://i379.photobucket.com/albums/oo237/osquars/osquars_github/Wallpaper_1920x1080_Heroes_zpsljzxdncz.png">
                        <div class="uk-position-bottom uk-margin-left uk-margin-right uk-contrast">
                            <h1 class="uk-article-title ">Warhammer: The End Times - Vermintide</h1>
                            <p class="uk-article-lead uk-contrast uk-hidden-small">Vermintide is a co-operative action first person shooter and melee combat adventure set in the End Times of the iconic Warhammer Fantasy world.</p>
                        </div>
                    </div>
                    <p>Vermintide takes place in and around Ubersreik, a city overrun by Skaven. You will assume the role of one of five heroes, each featuring different play-styles, abilities, gear and personality. Working cooperatively, you must use their individual attributes to survive an apocalyptic invasion from the hordes of relentless rat-men, known as the Skaven. Battles will take place across a range of environments stretching from the top of the Magnus Tower to the bowels of the Under Empire.</p>
                </div>
            </div>
            <div class="uk-width-medium-1-3">
                <div class="uk-panel uk-panel-box">
                    <div class="corner-ribbon">
                        <div class="ribbon"></div>
                        <div class="ribbon-text"><p>Patch Notes</p></div>
                    </div>
                    <div class="uk-scrollable-box">
                        <ul class="uk-list">
                            <li ng-repeat="x in patchLatest track by $index"><span ng-if="x==''">---</span>{{ x }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content -->
<div class="osq-block-border uk-block uk-block-default">
    <div class="uk-flex uk-flex-center uk-margin-large-right uk-margin-large-left">
        <div class="uk-grid uk-grid-match" data-uk-grid-match="{target: .osq-grid-match}" data-uk-grid-margin="">
        <div class="uk-width-medium-1-2 uk-width-large-2-5">
            <div class="uk-panel uk-panel-box uk-panel-box-secondary osq-grid-match">
                <h3 class="uk-panel-title"><i class="uk-icon-cogs"></i> Core Features</h3>
                <ul class="uk-list uk-list-line">
                    <li><span class="uk-text-danger uk-text-bold">Cooperative Survival For up to 4 Players</span> - Band together with your friends or die alone. Vermintide will continuously test the teamwork and skill of you and your friends. Drop-in, drop-out Multiplayer and the addition of A.I. bots ensures a full team at any time, regardless of available players.</li>
                    <li><span class="uk-text-danger uk-text-bold">Play as Five Unique Heroes</span> - Five distinct characters to choose from, each with their own personality, agenda and story to tell. Learning what it means to work together is key to the group’s survival.</li>
                    <li><span class="uk-text-danger uk-text-bold">Huge Hero Arsenal</span> - Each hero has its own unique weapons arsenal to draw from, allowing players to adjust their combat style to fit their gameplay preference. There are hundreds of different weapons, including swords, daggers, axes, hammers, bows, guns, magical staves & more</li>
                    <li><span class="uk-text-danger uk-text-bold">Embark on an Epic Quest</span> - Boasting 13 diverse levels – on the ground, in buildings, on walls and underground – ranging from the immense Magnus Tower to the treacherous Under Empire, Vermintide will take you on a journey you'll never forget.</li>
                    <li><span class="uk-text-danger uk-text-bold">Experience the Skaven Like Never Before</span> - A rising tide of malicious and cunning rat-men await you, hacking, clawing and eviscerating all that stand in their way. Face vicious packs of clan-rats and deadly specialized elites.</li>
                    <li><span class="uk-text-danger uk-text-bold">Gather Mountains of Shiny Loot</span> - Rewarding teamwork above all else, players are given loot dice at the end of a mission that will reward them with a weapon, a hat or a trinket. Completing side objectives means that better loot dice can be added to the roll.</li>
                    <li><span class="uk-text-danger uk-text-bold">Battle Unpredictable Enemies</span> - Vermintide features a dynamic spawn system providing a constant set of new challenges lurking behind every corner.</li>
                    <li><span class="uk-text-danger uk-text-bold">Experience an Immersive Story</span> - Games Workshop veterans have banded together to write a fantastic new addition to the Warhammer lore, offering a new perspective on the cataclysmic events of The End Times.</li>
                    <li><span class="uk-text-danger uk-text-bold">Find a Path to Safety</span> - The Skaven boast incredible mobility, able to climb and leap fantastic distances to make life a living hell for the Heroes. No matter where you go, they will be there, ready to pounce.</li>
                </ul>
                <img src="http://vermintide.com/wp-content/uploads/2015/03/Pagebreaker-2.png" alt="Divider-2" width="450" height="69" class="uk-align-center">
            </div>
        </div>
        <div class="uk-width-medium-1-2 uk-width-large-3-5">
            <div class="uk-container uk-padding-remove uk-position-relative osq-grid-match">
                <img src="http://vermintide.com/wp-content/uploads/2015/03/Pagebreaker-2.png" alt="Divider-2" width="450" height="69" class="uk-align-center uk-position-bottom">
                <div data-uk-grid="{gutter: 20}" class="uk-grid-width-medium-1-2 uk-grid-width-large-1-3">
                    <!-- Main -->
                    <div>
                        <div class="uk-panel uk-panel-box">
                            <div class="uk-panel-badge uk-badge uk-badge-danger"><a class="uk-text-contrast" href="redmooninn/">Read more</a></div>
                            <h2 class="uk-panel-title">Red Moon Inn</h2>
                            <p>The Red Moon Inn. The home for you and your party.<br>An Innkeeper that have nothing else to do then telling you that you should join the “party” instead of hiding in your room.<br>You can take a beer, have a chat or just trash the place.</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-panel uk-panel-box">
                            <div class="uk-panel-badge uk-badge uk-badge-danger"><a class="uk-text-contrast" href="characteritemsandstats/">Read more</a></div>
                            <h2 class="uk-panel-title">Character Items and Stats</h2>
                            <p>Character Items is the items we get from loot roll and can be used on your characters to fight the skaven or in the Forge (Red Moon Inn thread) to make better one.</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-panel uk-panel-box">
                            <div class="uk-panel-badge uk-badge uk-badge-danger"><a class="uk-text-contrast" href="weaponstats/">Read more</a></div>
                            <h2 class="uk-panel-title">Weapon Stats</h2>
                            <p>We all want to kill skaven but we want to do it in our way to satisfy our self. To understand what weapon is best for you I have here something of a list for you to look on and see what can be a good weapon for you to use on your favorite character..</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-panel uk-panel-box">
                            <h2 class="uk-panel-title">Weapon and Trinkets Traits</h2>
                            <p>We all want to kill skaven but we want to do it in our way to satisfy our self. To understand what weapon is best for you I have here something of a list for you to look on and see what can be a good weapon for you to use on your favorite character..</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-panel uk-panel-box">
                            <h2 class="uk-panel-title">Mission Items</h2>
                            <p>We all want to kill skaven but we want to do it in our way to satisfy our self. To understand what weapon is best for you I have here something of a list for you to look on and see what can be a good weapon for you to use on your favorite character..</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-panel uk-panel-box">
                            <h2 class="uk-panel-title">Loot and Loot Roll</h2>
                            <p>We all want to kill skaven but we want to do it in our way to satisfy our self. To understand what weapon is best for you I have here something of a list for you to look on and see what can be a good weapon for you to use on your favorite character..</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-panel uk-panel-box">
                            <h2 class="uk-panel-title">Skaven - The Enemy</h2>
                            <p>We all want to kill skaven but we want to do it in our way to satisfy our self. To understand what weapon is best for you I have here something of a list for you to look on and see what can be a good weapon for you to use on your favorite character..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Content -->

<!-- Footer -->
<div class="osq-block-footer uk-block uk-block-secondary uk-block-large">
    <footer class="uk-width-medium-1-2 uk-container-center uk-text-center uk-contrast">
        <p><a href="http://www.vermintide.com" target="_blank">Warhammer: The End Times - Vermintide</a> and the names of the characters, items, missions and otherwise mentioned herein are trademarks of <a href="http://www.fatsharkgames.com" target="_blank">Fatshark AB</a> under license to <a href="http://www.games-workshop.com/" target="_blank">Games Workshop</a>.</p>
        <a href="#" data-uk-smooth-scroll>Top ^</a>
    </footer>
</div>
<script src="../assets/js/pageApp.js"></script>
<script src="../assets/js/hostCtrl.js"></script>
<script src="../assets/js/menuCtrl.js"></script>
<script src="../assets/js/patchCtrl.js"></script>
</body>
</html>