<!-- Content -->
<div class="osq-block-main uk-block uk-block-default" data-uk-scrollspy="{cls:'uk-animation-fade', delay:200}">
    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-match data-uk-grid-margin>
            <!-- Main -->
            <div class="uk-width-medium-3-4">
                <div class="uk-article" id="baseofoperation">
                    <h1 class="uk-article-title">Base of Operation</h1>
                    <p class="uk-article-lead">The Base of Operation is your home and the central place to restore the infrastructure of New York City. It’s one of the core gameplay elements in the game and can be seen as some sort of safe house for you as an agent of the SHD.</p>
                    <p>It’s the only place in the PvE Zone where you can’t see other players, even if you are playing in a team. That’s because all the things you see inside show your personal progress in the game.</p>
                    <hr class="uk-article-divider">
                    <h2 id="stash">Stash</h2>
                    <p>Where you can put all the items you want to keep but don’t want to have on you.</p>
                    <ul class="uk-list">
                        <li><i class="uk-icon-square"></i> You have a limit on how much you can carry and can have in your Stash.</li>
                        <li><i class="uk-icon-square"></i> An Upgrade in Tech Wing will give you more inventory slots.</li>
                    </ul>
                    <hr class="uk-article-divider">
                    <h2 id="bulletinboard">Situation Board</h2>
                    <p>Will give markers on the map for side missions and encounters around the Base of Operation. You will find one more Situation Boards at Social Hub.</p>
                    <hr class="uk-article-divider">
                    <h2 id="craftingstation">Crafting Station</h2>
                    <p>You can create weapons and gears after finding the blueprints when looting or doing missions here.</p>
                    <hr class="uk-article-divider">
                    <h2 id="vendors">Vendors</h2>
                    <p>Here you can buy weapons and gears that you do not craft yourself. Low level items for now.</p>
                    <hr class="uk-article-divider">
                    <h2 id="wingupgrades">Wing Upgrades</h2>
                    <p>In Base of Operation we have three wings that you will have to upgrade to unlock skills, talents and perks for a supply cost. To unlock parts of the wings you need to do specific missions that give you this supplies. This missions are specific for each type of the wing.</p>
                    <ul class="uk-list">
                        <li><i class="uk-icon-square"></i> All wings have 10 upgrades that can be upgraded.</li>
                        <li><i class="uk-icon-square"></i> You have to start with the first upgrade on a wing before you can upgrade any of the other upgrades in that wing.</li>
                        <li><i class="uk-icon-square"></i> After the first upgrade, you can choose which one of the other upgrades you want to upgrade in any order.</li>
                        <li><i class="uk-icon-square"></i> All upgrades have different supply costs.</li>
                    </ul>
                    <hr class="uk-article-divider">
                    <h3 id="medical">Medical</h3>
                    <p>More info will come soon.</p>
                    <hr class="uk-article-divider">
                    <h3 id="tech">Tech</h3>
                    <p>More info will come soon.</p>
                    <hr class="uk-article-divider">
                    <h3 id="security">Security</h3>
                    <p>More info will come soon.</p>
                    <hr class="uk-article-divider">
                    <h2 id="restock">Restock</h2>
                    <p>Just by the door in or out of Base of Operations you have a Restock crate you should use every time you are going out on mission so you have full stock of all the ammo and grenades.</p>
                    <hr class="uk-article-divider">
                </div>
            </div>
            <!-- Sidebar -->
            <aside class="uk-width-medium-1-4">
                <div class="uk-panel uk-panel-box" data-uk-sticky="{top: 82}">
                    <ul class="uk-nav uk-nav-side uk-position-z-index" data-uk-scrollspy-nav="{closest:'li', smoothscroll: {offset: 50} }">
                        <li class="uk-nav-header">Page Index</li>
                        <li><a href="#baseofoperation">Base of Operation</a></li>
                        <li><a href="#stash">Stash</a></li>
                        <li><a href="#bulletinboard">Bulletin Board</a></li>
                        <li><a href="#craftingstation">Crafting Station</a></li>
                        <li><a href="#vendors">Vendors</a></li>
                        <li><a href="#wingupgrades">Wing Upgrades</a></li>
                        <li><a href="#medical">- Medical</a></li>
                        <li><a href="#tech">- Tech</a></li>
                        <li><a href="#security">- Security</a></li>
                        <li><a href="#restock">Restock</a></li>
                    </ul>
                </div>
                <div class="uk-panel uk-panel-box uk-margin-large-top">
                    <p>This content can be changed and are not officially. This is my own observations, from when I played. I've been wrong before. ^_^<br>Will try to keep this updated.</p>
                </div>
            </aside>
        </div>

    </div>
</div>
<!-- Content -->
<div class="osq-block-footer uk-block uk-block-secondary uk-block-large" ng-include='"templates/footer-division.html"' ng-cloak data-uk-scrollspy="{cls:'uk-animation-fade', delay:200}"></div>