<!-- Content -->
<div class="osq-block-main uk-block uk-block-default" data-uk-scrollspy="{cls:'uk-animation-fade', delay:200}">
    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-match data-uk-grid-margin>
            <!-- Main -->
            <div class="uk-width-medium-3-4">
                <div class="uk-article" id="factions">
                    <h1 class="uk-article-title">Factions</h1>
                    <p class="uk-article-lead">In The Division it exist several friendly and hostile factions, who are following certain activities and behavior patterns depending on the day time/weather.</p>
                    <p>Different motives encourage these people to stay in the partly contaminated districts New York’s. Furthermore the factions fight each other, even without the players interference.</p>
                    <h3 id="citizens">The Citizens of New York City</h3>
                    <p>Your actions and cooperation with the JTF have an impact on the wellbeing of the citizens of NYC. They react in different ways and thus give you an indication of how well you pursue their needs.</p>
                    <p>Friend or Foe? By the outbreak of the virus fellows often show their true colors. Citizens, who are always confrontational and are not necessarily part of a well-known faction.</p>
                    <p>But whether thugs or groups of armed people, they also pose a threat to the remaining citizens of the city.</p>
                    <h3 id="shd">SHD</h3>
                    <p>As a member of the Strategic Homeland Division (SHD) you and other players out there have the same goal in mind – take back New York. While this perfectly works in the PVE of the game it can be different the Dark Zone, where agents turn away from the organisation and become a Rogue Agent.</p>
                    <h3 id="cera">CERA</h3>
                    <p>CERA is an Emergency Response Organisation, who led the evacuation and quarantine in New York after the outbreak of the virus happened. Now they are trying to help the citizens by providing shelters – Base of Operations –  and ensure food supplies and medical care.</p>
                    <h3 id="jtf">Joint Task Force</h3>
                    <p>The JTF, or also called Joint Task Force, consists of the residues of certain government organizations like the National Guard, police, fire services and medical personnel.</p>
                    <p>Their infrastructure was severely weakened due to numerous attacks of various hostile factions after the virus outbreak. Therefore it’s your task as an agent to support them by helping out citizens, clearing certain zones of enemy units and ensuring supply routes.</p>
                    <h3 id="cleaners">The Cleaners</h3>
                    <p>The Cleaner-faction is made up of former citizens New York’s, who have teamed up after the breakout. Its members are heavily armed, well organized and their mission is to wipe out the virus in New York, no matter what the cost and regardless of the consequences on their excursions.</p>
                    <p>This faction is constantly moving around in the different zones, is especially attracted by heavily-contaminated areas and unconscionable kills every person it comes across, regardless if this person is healthy, or not.</p>
                    <h3 id="rikers">The Rikers</h3>
                    <p>The Rikers are a group of convicts who took advantage of the virus outbreak and escaped  from the world’s biggest prison complex on the same named prison isle Rikers Island in the East River of New York.</p>
                    <p>They enjoy their freedom in the ongoing chaos as “Kings of New York”, are extremely violent and loot as much as they can.</p>
                </div>
            </div>
            <!-- Sidebar -->
            <aside class="uk-width-medium-1-4">
                <div class="uk-panel uk-panel-box" data-uk-sticky="{top: 82}">
                    <ul class="uk-nav uk-nav-side uk-position-z-index" data-uk-scrollspy-nav="{closest:'li', smoothscroll: {offset: 50} }">
                        <li class="uk-nav-header">Page Index</li>
                        <li><a href="#factions">Factions</a></li>
                        <li><a href="#citizens">The Citizens of New York City</a></li>
                        <li><a href="#shd">SHD</a></li>
                        <li><a href="#cera">CERA</a></li>
                        <li><a href="#jtf">Joint Task Force</a></li>
                        <li><a href="#cleaners">The Cleaners</a></li>
                        <li><a href="#rikers">The Rikers</a></li>
                    </ul>
                </div>
                <div class="uk-panel uk-panel-box uk-margin-large-top">
                    <p>This content can be changed and are not officially. This is my own observations, from when I played. I've been wrong before. ^_^<br>Will try to keep this updated.</p>
                </div>
            </aside>
        </div>

    </div>
</div>
<!-- Content -->
<div class="osq-block-footer uk-block uk-block-secondary uk-block-large" ng-include='"templates/footer-division.html"' ng-cloak data-uk-scrollspy="{cls:'uk-animation-fade', delay:200}"></div>