<!-- Content -->
<div class="osq-block-main uk-block uk-block-default" data-uk-scrollspy="{cls:'uk-animation-fade', delay:200}">
    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-match data-uk-grid-margin>
            <!-- Main -->
            <div class="uk-width-medium-3-4">
                <div class="uk-article" id="items">
                    <h1 class="uk-article-title">Items</h1>
                    <p class="uk-article-lead">The item and loot system in Tom Clancy’s The Division is without question the most important gameplay component. Not only because the fact that it’s a RPG, but leveling alone wouldn’t be enough to stand against the threat of the virus and the people behind it.</p>
                    <p class="uk-article-lead">Although your agent is already equipped with high-tech gear, upgrading your character is an inevitable and essential part of the game.</p>
                    <h2 id="raritylevels">Rarity Levels</h2>
                    <p>The item’s rarity or quality defines how good an item can be in terms of the:</p>
                    <ul class="uk-list">
                        <li>different bonuses it has</li>
                        <li>how many bonuses it has</li>
                        <li>how big the actual bonuses are (min. and max. values)</li>
                    </ul>
                    <p>and also the item’s level plays a role in how valuable it finally is. A level 5 protective west could have a bonus of 3% weapon dmg., while the same on level 10 could have 5%.</p>
                    <p>There are 5 different item rarities in The Division, which you can find in the game. While it requires a certain level to find certain qualities, you will find better stuff during your game progression.</p>
                    <ul class="uk-list">
                        <li>Common (white)</li>
                        <li>Uncommon (green)</li>
                        <li>Rare (blue)</li>
                        <li>Epic (purple)</li>
                        <li>Legendary (orange)</li>
                    </ul>
                    <p>When it comes to end game, legendaries are the BIS (best in slot) items with the best/most bonuses as well as attributes on it. It should be one of your goals to get these later in the game and you will probably find the one or other during your journey.</p>
                    <h3 id="vanityitems">Vanity Items</h3>
                    <p>Besides normal items, there exist so called vanity items that are applicable to parts of your gear or weapon skin slots. These are not based on the aforementioned rarities because they have no stats and serve the only purpose to change your character’s appearance.</p>
                    <h3 id="nameditems">Named Items</h3>
                    <p>Legendaries wouldn’t be special and rare if they have no special attributes/bonuses applied, what they will definitely have. The developers also mentioned some kind of named items that can probably be found by killing special enemies or fulfilling certain missions.</p>
                    <h2 id="looting">Looting</h2>
                    <p>Acquiring new items (equipment) will become more and more important throughout the game. New gear and weapons can be obtained primarily by exploring the zones New York City’s and finding the hidden loot crates, but there are many more ways to get new loot.</p>
                    <p>The best and most valuable loot can be found in the Dark Zone. Despite of that, if you are not a fan of player versus player encounters, it would take you a bit longer to find those items outside the zone.</p>
                    <p>Furthermore and if the information – based on the official site – is still correct, items can be also exchanged with other players and traded with various merchants as well as on the black market.</p>
                    <p>Here are some possibilities of finding new items:</p>
                    <ul class="uk-list">
                        <li>Hidden spots and crates</li>
                        <li>Looting of fallen enemies and other players in the Dark Zone</li>
                        <li>Trading with other players (partially confirmed)</li>
                        <li>Market/black market (partially confirmed)</li>
                        <li>Crafting</li>
                    </ul>
                    <p>The item-drops are based on randomly generated parameters, which make them unique like it’s working in other RPGs. Depending on the rarity level described above, they can be provided with additional features/modifiers, that change or improve – based on the items’s and/or player’s level.</p>
                    <h3 id="lootsharing">Loot Sharing</h3>
                    <p>There are 2 ways how loot is shared in the game:</p>
                    <ul>
                        <li>Dark Zone: Loot is shared amongst players in your group, following the principle of “First come, first served”.</li>
                        <li>PvE Zone: Everybody gets his own loot, meaning that nobody else than you can take it.</li>
                    </ul>
                    <h2 id="craftingsystem">Crafting System</h2>
                    <p>The in Tom Clancy’s The Division implemented crafting system allows you to create new items like weapons or improve and customize your equipped gear by using different types of crafting materials.</p>
                </div>
            </div>
            <!-- Sidebar -->
            <aside class="uk-width-medium-1-4">
                <div class="uk-panel uk-panel-box" data-uk-sticky="{top: 82}">
                    <ul class="uk-nav uk-nav-side uk-position-z-index" data-uk-scrollspy-nav="{closest:'li', smoothscroll: {offset: 50} }">
                        <li class="uk-nav-header">Page Index</li>
                        <li><a href="#items">Items</a></li>
                        <li><a href="#raritylevels">Rarity Levels</a></li>
                        <li><a href="#vanityitems">- Vanity Items</a></li>
                        <li><a href="#nameditems">- Named Items</a></li>
                        <li><a href="#looting">Looting</a></li>
                        <li><a href="#lootsharing">- Loot Sharing</a></li>
                        <li><a href="#craftingsystem">Crafting System</a></li>
                    </ul>
                </div>
                <div class="uk-panel uk-panel-box uk-margin-large-top">
                    <p>This content can be changed and are not officially. This is my own observations, from when I played. I've been wrong before. ^_^<br>Will try to keep this updated.</p>
                </div>
            </aside>
        </div>

    </div>
</div>
<!-- Content -->
<div class="osq-block-footer uk-block uk-block-secondary uk-block-large" ng-include='"templates/footer-division.html"' ng-cloak data-uk-scrollspy="{cls:'uk-animation-fade', delay:200}"></div>