<!-- Content -->
<div class="osq-block-main uk-block uk-block-default" data-uk-scrollspy="{cls:'uk-animation-fade', delay:200}">
    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-match data-uk-grid-margin>
            <!-- Main -->
            <div class="uk-width-medium-3-4">
                <div class="uk-article" id="theagents">
                    <h1 class="uk-article-title">The Agents</h1>
                    <p class="uk-article-lead">As an agent of The Division you don’t only have to fight the consequences of the man-made virus, but also bring the increased threat, posed by those who have brought it into circulation, under control.</p>
                    <h2 id="charactercustom">Character Customization</h2>
                    <p>Before you can actually take on this journey it’s necessary to create an appropriate ingame character and customize it at your will.</p>
                    <p>Tom Clancy’s The Division is an open world shooter with MMORPG approaches, in short, a role-playing game. Therefore, there will be countless options in the game to individually change and adapt your characters in their look, items, items’ appearance, weapons, skills, talents, perks and equipment.</p>
                    <h3 id="characterslots">Character Slots</h3>
                    <p>You can have up to 4 characters at the same time. The start menu is the place where you can switch between them and it’s up to you, if you want to help out your friends with your mastered char or start right away with a brand new one, as different character levels won’t prevent you from playing with them.</p>
                    <h3 id="classless">Classless System</h3>
                    <p>Usually it’s common in RPGs, that the player has to select a specific class (short and long range fighter, mage, etc.) at the beginning of his adventure.</p>
                    <p>Tom Clancy’s The Division does not take this approach of the strict class system. The developers explain that decision so that the player initially can not even know on what class he commits or whether he likes to play the class at a later point in the game.</p>
                    <p>It is still possible to form a class-like char by using abilities that can be unlocked throughout the game, or just to create a universal character, which is tailored to the needs and preferences of individuals.</p>
                    <h2 id="uniquelook">Unique Look</h2>
                    <p>By creating a new character you have to select whether it’s a female or male one and can choose between various options in form of presets. Important to notice is that the appearance cannot be changed once your journey has begun.</p>
                    <ul>
                        <li>Skin color</li>
                        <li>Facial hair and beards</li>
                        <li>Facial features (piercings, scars, tattoos)</li>
                        <li>Body type and shape</li>
                    </ul>
                    <h3 id="multilayercustom">Multi-Layer Customization</h3>
                    <p>Almost every part of your gear can be provided with cosmetic slots with a visually adjust-/togglable layer-system behind it, which works completely independently to the items themselves.</p>
                    <p>While their stats remain untouched and allow your gear to scale properly during the player’s progression, you are always able to change the look and feel of your agent by applying vanity items.</p>
                    <p>This means that you could wear these vanity items whenever you want, even if you have found an upgrade (stat wise) for your character and have to sort some of them out. From certain authentic color variations, hats, boonie hats, beanies, customizable backpacks to other countless visual options, it’s up to you on how your agent will look like – from start to end!</p>
                    <p>The way this works doesn’t only reduce the chance to meet other players that look identical to yours, but also contributes to the end game content.</p>
                    <h2 id="clanguildsystem">Clan- and Gild System</h2>
                    <p>An extensive clan and guild system on the basis of a web-based portal should complete the character system. Currently the developers have no plans to set a maximum limit for players in clans, but have neither talked much about the system itself.</p>
                    <h2 id="worldrealm">World Realm</h2>
                    <p>Play with all the other players in the The Division universe without having to change the server/realm – no matter in what regions your teammates live.</p>
                </div>
            </div>
            <!-- Sidebar -->
            <aside class="uk-width-medium-1-4">
                <div class="uk-panel uk-panel-box" data-uk-sticky="{top: 82}">
                    <ul class="uk-nav uk-nav-side uk-position-z-index" data-uk-scrollspy-nav="{closest:'li', smoothscroll: {offset: 50} }">
                        <li class="uk-nav-header">Page Index</li>
                        <li><a href="#theagents">The Agents</a></li>
                        <li><a href="#charactercustom">Character Customization</a></li>
                        <li><a href="#characterslots">- Character Slots</a></li>
                        <li><a href="#classless">- Classless System</a></li>
                        <li><a href="#uniquelook">Unique Look</a></li>
                        <li><a href="#multilayercustom">- Multi-Layer Customization</a></li>
                        <li><a href="#clanguildsystem">Clan- and Gild System</a></li>
                        <li><a href="#worldrealm">World Realm</a></li>
                    </ul>
                </div>
                <div class="uk-panel uk-panel-box uk-margin-large-top">
                    <p>This content can be changed and are not officially. This is my own observations, from when I played. I've been wrong before. ^_^<br>Will try to keep this updated.</p>
                </div>
            </aside>
        </div>

    </div>
</div>
<!-- Content -->
<div class="osq-block-footer uk-block uk-block-secondary uk-block-large" ng-include='"templates/footer-division.html"' ng-cloak data-uk-scrollspy="{cls:'uk-animation-fade', delay:200}"></div>