<!-- Content -->
<div class="osq-block-main uk-block uk-block-default" data-uk-scrollspy="{cls:'uk-animation-fade', delay:200}">
    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-match data-uk-grid-margin>
            <!-- Main -->
            <div class="uk-width-medium-3-4">
                <div class="uk-article" id="theagents">
                    <h1 class="uk-article-title">The Agents</h1>
                    <p class="uk-article-lead">As an agent of The Division you don’t only have to fight the consequences of the man-made virus, but also bring the increased threat, posed by those who have brought it into circulation, under control.</p>
                    <h2>Character Customization</h2>
                    <p>Before you can actually take on this journey it’s necessary to create an appropriate ingame character and customize it at your will.</p>
                    <p>Tom Clancy’s The Division is an open world shooter with MMORPG approaches, in short, a role-playing game. Therefore, there will be countless options in the game to individually change and adapt your characters in their look, items, items’ appearance, weapons, skills, talents, perks and equipment.</p>
                    <h3>Character Slots</h3>
                    <p>You can have up to 4 characters at the same time. The start menu is the place where you can switch between them and it’s up to you, if you want to help out your friends with your mastered char or start right away with a brand new one, as different character levels won’t prevent you from playing with them.</p>
                    <h3>Classless System</h3>
                    <p>Usually it’s common in RPGs, that the player has to select a specific class (short and long range fighter, mage, etc.) at the beginning of his adventure.</p>
                    <p>Tom Clancy’s The Division does not take this approach of the strict class system. The developers explain that decision so that the player initially can not even know on what class he commits or whether he likes to play the class at a later point in the game.</p>
                    <p>It is still possible to form a class-like char by using abilities that can be unlocked throughout the game, or just to create a universal character, which is tailored to the needs and preferences of individuals.</p>

                </div>
            </div>
            <!-- Sidebar -->
            <aside class="uk-width-medium-1-4">
                <div class="uk-panel uk-panel-box" data-uk-sticky="{top: 82}">
                    <ul class="uk-nav uk-nav-side uk-position-z-index" data-uk-scrollspy-nav="{closest:'li', smoothscroll: {offset: 50} }">
                        <li class="uk-nav-header">Page Index</li>
                        <li><a href="#redmooninn">Red Moon Inn</a></li>
                        <li><a href="#themap">The Map</a></li>
                        <li><a href="#ammocrate">Ammo Crate</a></li>
                        <li><a href="#inventory">Inventory</a></li>
                        <li><a href="#forge">Forge</a></li>
                        <li><a href="#shrineofsolace">Shrine of Solace</a></li>
                        <li><a href="#changecharacter">Change Character</a></li>
                    </ul>
                </div>
                <div class="uk-panel uk-panel-box uk-margin-large-top">
                    <p>This content can be changed and are not officially from the Fatshark. This is my own observations, from when I played. I've been wrong before. ^_^<br>Will try to keep this updated.</p>
                </div>
            </aside>
        </div>

    </div>
</div>
<!-- Content -->
<div class="osq-block-footer uk-block uk-block-secondary uk-block-large" ng-include='"templates/footer-division.html"' ng-cloak data-uk-scrollspy="{cls:'uk-animation-fade', delay:200}"></div>