<!-- Footer -->
<footer class="uk-width-medium-1-2 uk-container uk-container-center">
    <div class="uk-panel">
        <p>
            <a href="https://twitter.com/osquars" title="Osquars | Twitter" target="_blank" class="uk-button uk-button-primary uk-text-bold"><i class="uk-icon-twitter uk-icon-medium"></i> Twitter</a> <!-- <a href="https://discord.gg/0ZPZTcCUTVhJHq0k" target="_blank" class="uk-button"><img src="http://i379.photobucket.com/albums/oo237/osquars/osquars_github/Discord-Logo-Wordmark-Color-1b_zpskn32dfzp.png" width="95" /></a> -->
            <a class="uk-align-right" href="#" data-uk-smooth-scroll><i class="uk-icon-arrow-up uk-icon-button uk-icon-medium"></i></a></a>
        </p>
    </div>
</footer>