<!-- Navigation -->
<nav class="uk-navbar uk-navbar-attached">
    <div class="osq-brand uk-flex uk-flex-middle">
        <a class="uk-navbar-brand uk-navbar-nav-subtitle" href="#/"><span>O</span>squars<div style="margin-top: -15px; text-align: center; font-weight: 800;">Laboratory</div></a>
    </div>
    <div class="uk-flex uk-flex-center uk-hidden-small">
        <ul class="uk-navbar-nav">
            <li class="uk-parent" data-uk-dropdown="{pos:'bottom-center'}">
                <a href="#/vermintide">WH: The End Times - Vermintide</a>
                <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom">
                    <ul class="uk-nav uk-nav-navbar">
                        <li>
                            <a href="#/vermintide/redmooninn">Red Moon Inn</a>
                        </li>
                        <li>
                            <a href="#/vermintide/characteritemsandstats">Character Items and Stats</a>
                        </li>
                        <li>
                            <a href="#/vermintide/weaponstats">Weapon Stats</a>
                        </li>
                        <li>
                            <a href="#/vermintide/weapontrinkettraits">Weapon and Trinkets Traits</a>
                        </li>
                        <li>
                            <a href="#/">Mission Items</a>
                        </li>
                        <li>
                            <a href="#/">Loot and Loot Roll</a>
                        </li>
                        <li>
                            <a href="#/">Skaven - The Enemy</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="uk-parent" data-uk-dropdown="{pos:'bottom-center'}">
                <a href="#/division">Tom Clancy's The Division</a>
                <!-- <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom">
                    <ul class="uk-nav uk-nav-navbar">
                        <li>
                            <a href="#/vermintide/redmooninn">Red Moon Inn</a>
                        </li>
                        <li>
                            <a href="#/vermintide/characteritemsandstats">Character Items and Stats</a>
                        </li>
                        <li>
                            <a href="#/vermintide/weaponstats">Weapon Stats</a>
                        </li>
                        <li>
                            <a href="#/">Weapon and Trinkets Traits</a>
                        </li>
                        <li>
                            <a href="#/">Mission Items</a>
                        </li>
                        <li>
                            <a href="#/">Loot and Loot Roll</a>
                        </li>
                        <li>
                            <a href="#/">Skaven - The Enemy</a>
                        </li>
                    </ul>
                </div> -->
            </li>
        </ul>
    </div>
    <a href="#" class="uk-navbar-toggle uk-navbar-flip uk-visible-small"></a>
</nav>
<!-- Navigation -->