<div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
    <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
        <li>
            <a href="#/"><i class="uk-icon-home"></i> Home</a>
        </li>
        <li>
            <a href="#/bloodmooninn" class="uk-navbar-nav-subtitle"><i class="uk-icon-comments-o"></i> Blood Moon Inn<div>Community Discord Server</div></a>
        </li>
        <li class="uk-parent">
            <a href="#/vermintide" class="uk-navbar-nav-subtitle">WH: The End Times - Vermintide<div><i class="uk-icon-book"></i> Tutorials and Explanations</div></a>
            <div>
                <ul class="uk-nav-sub">
                    <li>
                        <a href="#/vermintide/redmooninn">- Red Moon Inn</a>
                    </li>
                    <li>
                        <a href="#/vermintide/characteritemsandstats">- Character Items and Stats</a>
                    </li>
                    <li>
                        <a href="#/vermintide/weaponstats">- Weapon Stats</a>
                    </li>
                    <li>
                        <a href="#/vermintide/weapontrinkettraits">- Weapon and Trinkets Traits</a>
                    </li>
                    <li>
                        <a href="#/vermintide/missionitems">- Mission Items</a>
                    </li>
                    <li>
                        <a href="#/vermintide/lootandroll">- Loot and Loot Roll</a>
                    </li>
                    <li>
                        <a href="#/vermintide/skavenenemy">- Skaven - The Enemy</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#/division">Tom Clancy's The Division</a>
        </li>
    </ul>
</div>